body{
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
	color: #777;
}

.suspects img{
    width:168px;
    height: 210px;
    float: left;
    padding: 0 15px 0 0;
}

.suspects li .thumbnail{
    height: 210px;
    padding-right: 15px;
}