{% extends "_base.html" %}

{% block title%}Wanted Suspects{% endblock%}

{% block content %}
            <div class="span12">
            {% if suspects %}
                <ul class="thumbnails suspects">
                {% for suspect in suspects.suspects %}
                    <li class="span4">
                        <div class="thumbnail">
                            <img width="168px" height="210px" src="{{ suspect.img }}" alt="{{ suspect.name }}">
                            <h3><a href="/suspect/{{suspect.name}}">{{ suspect.name }}</a></h3>
                            <p><b>Charged With -</b><br/>{{suspect.charges}}</p>                    
                        
                        </div>
                    
                    
                    </li>
                {% endfor %}
                </ul>
            {% else %}
              <h1>Hello World!</h1>
            {% endif %}
            </div>
            
{% endblock %}
        