<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<head>
    <title>Hello from Flask</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/bootstrap-responsive.min.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="span12 suspect_page">
                <div class="span6 offset3">
                {% set found = []   %} 
                    {% if suspects %}
                        {% for suspect in suspects.suspects %} 
                            {% if suspect_name == suspect.name %} 
                                {% do found.append(1) %}
                                <a href="/">&lt;&lt; Back</a>
                                <h1>WANTED</h1>
                                <h2>{{ suspect_name }}</h2>
                                <img src="{{suspect.img}}" />
                                <p>{{ suspect_name }} is a {% filter lower %} {{suspect.race}} {{suspect.gender }} with {{suspect.eye_color }} eyes and {{suspect.hair_color}} hair.{% endfilter %} {{ suspect_name }} is wanted for {{ suspect.charges }}</p>
                                <p> If you have any information involving this crime or any persons involved, submit a tip online, or call Crime Stoppers at <a href="tel:18507858477">(850) 785-TIPS</a>, or toll free at <a href="tel:18669638477">1-866-963-8477</a>.
                                
                            {% endif %}
                        {% endfor %}

                        {% if not found  %}
                            <h1>Oops!</h1>
                            <p>That suspect couldn't be found.</p>
                            <p><a href="/">Head on back</a> 
                        {%endif%} 
               
                    {% endif %}
                            </div>
            </div>
        </div>
    </div><script src="http://code.jquery.com/jquery.js" type="text/javascript">
</script><script src="static/bootstrap.min.js" type="text/javascript">
</script>
</body>
</html>
